@using RISOS.Enums
@using RISOS.Extensions
@using RISOS.Localization
@using RISOS.Models
@using RISOS.Pages.Home.Dialogs.AddCustomSubjectDialog
@using RISOS.Pages.Home.Models
@using RISOS.Services

@inject IDialogService DialogService
@inject ISnackbar Snackbar
@inject LocalStorageService LocalStorageService

<style>
    .card-text {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .mud-icon-button:focus-within {
        background: unset !important;
    }
</style>

<MudDropContainer T="SubjectEntry" @ref="_dropContainer" Items="@Subjects" ItemsSelector="@Selector" ItemDropped="@ItemUpdated"
                  Class="d-flex flex-column gap-3 mb-2"
                  Style="height: calc(100vh - 20px)"
                  ApplyDropClassesOnDragStarted
                  CanDropClass="mud-alert-text-success mud-border-success"
                  NoDropClass="mud-alert-text-error mud-border-error">
    <ChildContent>
        <div class="rounded-lg border-2 border-dashed mud-border-lines-default mud-background-gray w-100 d-flex flex-column">
            <MudStack Row Spacing="3" StretchItems="StretchItems.Start" Class="px-4 pt-4 pb-2" AlignItems="AlignItems.Center">
                <MudStack Spacing="1">
                    <MudText Typo="Typo.h6">@LanguageHelper.UnassignedSubjects</MudText>
                </MudStack>
                <MudStack Spacing="2" Row AlignItems="AlignItems.Center">
                    @foreach (var type in Enum.GetValues<SubjectType>())
                    {
                        <MudStack Row Spacing="1" Wrap="Wrap.NoWrap">
                            <MudIcon Size="Size.Small" Color="@type.ToColor()" Icon="@Icons.Material.Filled.Circle"/>
                            <MudText Typo="Typo.caption">@type.ToLabel()</MudText>
                        </MudStack>
                    }
                </MudStack>
                <MudTooltip Text="@LanguageHelper.AddCustomSubject">
                    <MudButton
                        Variant="Variant.Text"
                        StartIcon="@Icons.Material.Filled.AddCircleOutline"
                        IconColor="Color.Primary"
                        Color="Color.Primary"
                        OnClick="@OpenAddDialog">
                        @LanguageHelper.Add
                    </MudButton>
                </MudTooltip>
            </MudStack>

            <MudDropZone T="SubjectEntry" Identifier="@SubjectEntry.Unassigned"
                         Class="px-4 pb-4 pt-2 d-flex flex-wrap gap-2 border-transparent rounded-b-lg overflow-y-auto"
                         Style="max-height: max(220px, 20vh); min-height: 100px;"/>

        </div>

        <ControlCenter @bind-RecognizedYear="_recognizedYear" YearsChanged="OnYearsChanged" TotalCredits="TotalCredits"/>

        <div style="overflow: scroll">
            <MudStack Row Class="mb-3">
                @foreach (var year in Enumerable.Range(StartYear, Years))
                {
                    var winterSem = year * 2 - 1;
                    var summerSem = year * 2;

                    <div class="rounded-lg pa-4 d-flex flex-column mt-4" style="position: relative; border: 2px dotted var(--mud-palette-lines-default); height: 100%; min-width: 336px; flex: 1;">
                        <div style="position: absolute; top: -16px; left: 15%; transform: translateX(-50%); background-color: var(--mud-palette-background); padding: 0 16px;">
                            <MudText Typo="Typo.h6" Color="Color.Primary" Class="font-weight-bold">@year. @LanguageHelper.Years_One</MudText>
                        </div>

                        <MudStack Class="flex-grow-1">
                            <SemesterDropZone Semester="@winterSem" Credits="@GetSemesterCredits(winterSem)" SemesterSeason="SemesterSeason.Winter"/>
                            <SemesterDropZone Semester="@summerSem" Credits="@GetSemesterCredits(summerSem)" SemesterSeason="SemesterSeason.Summer"/>
                        </MudStack>
                        <MudStack AlignItems="AlignItems.Center" Row StretchItems="StretchItems.Start" Spacing="1" Class="pt-2" Style="border-top: solid 1px var(--mud-palette-background-gray)">
                            <MudText Typo="Typo.subtitle2" Color="Color.Default">@LanguageHelper.YearTotal</MudText>

                            @{
                                var yearCredits = GetYearCredits(year);
                            }

                            @if (yearCredits.Completed > 0)
                            {
                                <MudText Typo="Typo.body1" Color="Color.Success">@yearCredits.Completed</MudText>
                                <MudText Typo="Typo.body1" Color="Color.Secondary">/</MudText>
                            }
                            <MudText Typo="Typo.body1" Color="Color.Primary">
                                <b>@yearCredits.Registered</b> @LanguageHelper.Credits
                            </MudText>
                        </MudStack>
                    </div>
                }
            </MudStack>
        </div>
    </ChildContent>
    <ItemRenderer>
        <SemesterDropZoneItemTemplate Entry="context" EntryChanged="@EntryChanged" SemesterCount="@(Years * 2)" RemoveEntry="@OnRemove"/>
    </ItemRenderer>
</MudDropContainer>

@code {
    [CascadingParameter]
    public required StudyContext StudyContext { get; set; }

    [Parameter]
    public List<SubjectEntry> Subjects { get; set; } = [];

    [Parameter]
    public EventCallback<List<SubjectEntry>> SubjectsChanged { get; set; }

    [Parameter]
    public EventCallback<SubjectEntry> OnRemove { get; set; }

    private bool _recognizedYear;

    private int StartYear => _recognizedYear ? 0 : 1;
    private int Years => StudyContext.Years + (_recognizedYear ? 1 : 0);

    private MudDropContainer<SubjectEntry>? _dropContainer;

    protected override void OnParametersSet()
    {
        if (_dropContainer is not null)
        {
            OnYearsChanged(StudyContext.Years);
        }
    }

    private Credits TotalCredits => GetTotalCredits();

    private static bool Selector(SubjectEntry item, string dropzone)
    {
        return item.Semester == dropzone;
    }

    private async Task EntryChanged(SubjectEntry entry)
    {
        await LocalStorageService.UpdateSubjectAsync(entry);
        _dropContainer?.Refresh();
    }

    private static void ItemUpdated(MudItemDropInfo<SubjectEntry> dropItem)
    {
        dropItem.Item?.Semester = dropItem.DropzoneIdentifier;
    }

    private Credits GetSemesterCredits(int semesterIdentifier)
    {
        var semesterSubjects = Subjects
            .Where(s => s.Semester == semesterIdentifier.ToString())
            .ToArray();

        return new Credits(
            Registered: semesterSubjects.Sum(s => s.Subject.Credits),
            Completed: semesterSubjects.Where(s => s.Completed == true).Sum(s => s.Subject.Credits)
        );
    }

    private Credits GetYearCredits(int year)
    {
        var winterSem = year * 2 - 1;
        var summerSem = year * 2;

        return GetSemesterCredits(winterSem) + GetSemesterCredits(summerSem);
    }

    private Credits GetTotalCredits()
    {
        var allSubjects = Subjects.Where(x => x.Semester != SubjectEntry.Unassigned).ToArray();

        return new Credits(
            Registered: allSubjects.Where(x => x.Completed != false).Sum(s => s.Subject.Credits),
            Completed: allSubjects.Where(s => s.Completed == true).Sum(s => s.Subject.Credits)
        );
    }

    private void OnYearsChanged(int years)
    {
        StudyContext.Years = years;
        var maxValidSemester = years * 2;
        Subjects.ForEach(x =>
        {
            if (!int.TryParse(x.Semester, out var semesterNum) || semesterNum <= maxValidSemester)
            {
                return;
            }

            x.Semester = SubjectEntry.Unassigned;
            x.Completed = null;
        });

        _dropContainer?.Refresh();
    }

    private async Task OpenAddDialog()
    {
        var result = await AddCustomSubjectDialog.ShowAsync(DialogService);
        if (result.IsSuccess)
        {
            Snackbar.Add("Subject added", Severity.Success);
            Subjects.Add(result.Value);
            await LocalStorageService.SaveCustomSubject(result.Value);
            await SubjectsChanged.InvokeAsync(Subjects);
            _dropContainer?.Refresh();
        }
    }

    public void Refresh() => _dropContainer?.Refresh();
}
