@using RISOS.Common.Components
@using RISOS.Common.Flags
@using RISOS.Common.Models
@using RISOS.Enums
@using RISOS.Extensions
@using RISOS.Localization
@using RISOS.Pages.Home.Models
@using RISOS.Services
@inject LanguageService LanguageService
@inject GitRepositoryInfoService GitRepositoryInfoService
@inject NavigationManager NavigationManager
@inject LocalStorageService LocalStorageService
@inject ThemeStateService ThemeService

<RDialog TReturn="SettingsDialogModel"
         Title="@LanguageHelper.SettingsDialog_Title"
         SubmitIcon="@Icons.Material.Filled.Save"
         SubmitText="@LanguageHelper.Save"
         OnSubmit="@OnSubmit">
    <HeaderRight>
        <MudTooltip Text="@LanguageHelper.ClearStorage">
            <MudIconButton Icon="@Icons.Material.Outlined.DeleteSweep" OnClick="@ClearData"/>
        </MudTooltip>
    </HeaderRight>
    <ChildContent>
        <ContentOrCircularLoading IsLoading="_loading">
            <MudStack Spacing="4" Class="pb-1">
                <MudStack Spacing="2">
                    <MudText Typo="Typo.subtitle2" Color="Color.Primary">
                        <b>@LanguageHelper.SettingsDialog_Language</b>
                    </MudText>

                    <MudToggleGroup T="AppLanguage" @bind-Value="_model.Language" Color="Color.Primary"
                                    SelectionMode="SelectionMode.SingleSelection" Class="w-100">
                        <MudToggleItem Value="AppLanguage.Czech">
                            <div class="d-flex align-center gap-2 pa-1">
                                <CzechFlag Style="width: 40px; border-radius: 2px;"/>
                                <MudText Typo="Typo.body2">@LanguageHelper.Language_Czech</MudText>
                            </div>
                        </MudToggleItem>
                        <MudToggleItem Value="AppLanguage.English">
                            <div class="d-flex align-center gap-2 pa-1">
                                <EnglishFlag Style="width: 40px; border-radius: 2px;"/>
                                <MudText Typo="Typo.body2">@LanguageHelper.Language_English</MudText>
                            </div>
                        </MudToggleItem>
                    </MudToggleGroup>

                    @if (LanguageChanged)
                    {
                        <MudAlert Variant="Variant.Outlined" Severity="Severity.Info" Dense>
                            @LanguageHelper.LanguageAlert
                        </MudAlert>
                    }
                </MudStack>

                <MudDivider/>

                <MudStack Spacing="2">
                    <MudText Typo="Typo.subtitle2" Color="Color.Primary">
                        <b>@LanguageHelper.Themes</b>
                    </MudText>
                    <MudSelect T="ThemeType" @bind-Value="_model.SelectedTheme"
                               Label="@LanguageHelper.SettingsDialog_Palette"
                               Variant="Variant.Outlined" Dense AnchorOrigin="Origin.BottomCenter">

                        <MudSelectItem Value="ThemeType.Default">
                            <div class="d-flex align-center gap-2">
                                <MudIcon Icon="@Icons.Material.Filled.Palette" Size="Size.Small" Color="Color.Primary"/>
                                @LanguageHelper.Theme_Default
                            </div>
                        </MudSelectItem>

                        <MudSelectItem Value="ThemeType.Deuteranopia">
                            <div class="d-flex align-center gap-2">
                                <MudIcon Icon="@Icons.Material.Filled.Visibility" Size="Size.Small"
                                         Style="color: #009E73;"/>
                                @LanguageHelper.Theme_Deuteranopia
                            </div>
                        </MudSelectItem>

                        <MudSelectItem Value="ThemeType.Protanopia">
                            <div class="d-flex align-center gap-2">
                                <MudIcon Icon="@Icons.Material.Filled.Visibility" Size="Size.Small"
                                         Style="color: #0072B2;"/>
                                @LanguageHelper.Theme_Protanopia
                            </div>
                        </MudSelectItem>

                        <MudSelectItem Value="ThemeType.Tritanopia">
                            <div class="d-flex align-center gap-2">
                                <MudIcon Icon="@Icons.Material.Filled.RemoveRedEye" Size="Size.Small"
                                         Style="color: #00ced1;"/>
                                @LanguageHelper.Theme_Tritanopia
                            </div>
                        </MudSelectItem>

                        <MudSelectItem Value="ThemeType.HighContrast">
                            <div class="d-flex align-center gap-2">
                                <MudIcon Icon="@Icons.Material.Filled.Contrast" Size="Size.Small"
                                         Color="Color.Default"/>
                                @LanguageHelper.Theme_HighContrast
                            </div>
                        </MudSelectItem>
                    </MudSelect>
                </MudStack>

                <MudDivider/>

                <MudStack Spacing="2">
                    <MudText Typo="Typo.subtitle2" Color="Color.Primary">
                        <b>@LanguageHelper.SettingsDialog_AcademicSettings</b>
                    </MudText>

                    <MudStack Spacing="2">
                        <MudSwitch T="bool"
                                   Value="_overrideCredits"
                                   ValueChanged="OnOverrideToggled"
                                   Color="Color.Primary"
                                   Label="@LanguageHelper.SettingsDialog_OverrideCredits"/>
                        <MudNumericField T="int?"
                                         @bind-Value="_model.Credits"
                                         Disabled="@(!_overrideCredits)"
                                         Label="@LanguageHelper.SettingsDialog_RequiredCredits"
                                         Variant="Variant.Outlined"
                                         Min="0"
                                         Adornment="Adornment.End"
                                         AdornmentText="@LanguageHelper.Cr"/>
                    </MudStack>
                </MudStack>

                <MudDivider/>

                <MudStack Spacing="2">
                    <MudText Typo="Typo.subtitle2" Color="Color.Primary">
                        <b>@LanguageHelper.Contact</b>
                    </MudText>

                    <MudStack Spacing="5" Row AlignItems="AlignItems.Center" Justify="Justify.Center">
                        <MudButton Href="https://github.com/ViVa-JR/RISOS/issues/new/choose"
                                   Target="_blank"
                                   StartIcon="@Icons.Custom.Brands.GitHub"
                                   Variant="Variant.Text"
                                   Color="Color.Default">
                            @LanguageHelper.ReportBug
                        </MudButton>
                        <MudButton Href="@MailToUri"
                                   Target="_blank"
                                   StartIcon="@Icons.Material.Filled.Email"
                                   Variant="Variant.Text"
                                   Color="Color.Default">
                            @LanguageHelper.Email
                        </MudButton>
                    </MudStack>
                </MudStack>
            </MudStack>
        </ContentOrCircularLoading>
    </ChildContent>
    <FooterLeft>
        <MudText Typo="Typo.caption" Style="color: var(--mud-palette-text-disabled);">
            @(LanguageHelper.LastDataUpdate + ": " + _dateTime)
        </MudText>
    </FooterLeft>
</RDialog>

@code {
    [Parameter]
    public required StudyContext StudyContext { get; set; }

    private bool _loading = true;
    private SettingsDialogModel _model = new();
    private bool _overrideCredits;
    private AppLanguage _originalLanguage;
    private DateTime? _dateTime;

    private bool LanguageChanged => _model.Language != _originalLanguage;
    private static string MailToUri => $"mailto:xsafar26@vutbr.cz?subject={Uri.EscapeDataString(LanguageHelper.EmailSubject)}&body={Uri.EscapeDataString(LanguageHelper.EmailBody)}";

    protected override async Task OnInitializedAsync()
    {
        _model.Language = await LanguageService.GetAppLanguageAsync();
        _model.SelectedTheme = ThemeService.CurrentThemeType ?? ThemeType.Default;
        _model.Credits = StudyContext.CreditOverride;
        _originalLanguage = _model.Language;
        _overrideCredits = StudyContext.CreditOverride.HasValue;

        var result = await GitRepositoryInfoService.GetLastUpdateDateAsync();
        if (result.IsSuccess)
        {
            _dateTime = result.Value;
        }

        _loading = false;
        await InvokeAsync(StateHasChanged);
        await base.OnInitializedAsync();
    }

    private void OnOverrideToggled(bool isToggled)
    {
        _overrideCredits = isToggled;
        if (!isToggled)
        {
            _model.Credits = null;
        }
    }

    private Task<SettingsDialogModel> OnSubmit()
    {
        if (!_overrideCredits)
        {
            _model.Credits = null;
        }

        return Task.FromResult(_model);
    }

    private async Task ClearData()
    {
        await LocalStorageService.ClearAppStateAsync();
        NavigationManager.NavigateTo(NavigationManager.Uri, true);
    }

    public static async Task<DialogResult<SettingsDialogModel>> ShowAsync(IDialogService dialogService, StudyContext studyContext)
    {
        var dialog = await dialogService.ShowAsync<SettingsDialog>(string.Empty, new DialogParameters<SettingsDialog>
        {
            { x => x.StudyContext, studyContext }
        }, new DialogOptions
        {
            FullWidth = true,
            MaxWidth = MaxWidth.Small
        });
        return await dialog.GetResultAsync<SettingsDialogModel>();
    }
}
